<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="../static/style1.css">
</head>

<body background="../static/img/ba796dccaefde3d058d545462d6ffdd9.jpg">
    <form method="POST" action="/emp">
        {% csrf_token %}
        <div id="divP">
            <br>
            <p>
                <h3>Ingrese Detalles Del Pedido</h3>
            </p>
            <div>
                <p>Numero de Perido:</p>{{ form.eid }}
            </div>
            <div>
                <p>Nombre Del pedido:</p>{{ form.ename }}
            </div>
            <div>
                <p>Nombre de la persona a entregar:</p>{{ form.eemail }}
            </div>
            <div>
                <p>Precio Del Producto:</p>{{ form.econtact }}
            </div>
            <div>
                <p>Direccion Del pedido:</p>{{ form.direccion }}
            </div>
            <div>
                <p>Cantidad del Producto pedido:</p>{{ form.cantidad }}
            </div>
            <div>
                <br>
                <button type="submit">Subir</button>
            </div>
        </div>
    </form>
</body>

</html>