* {
    text-decoration: none;
}

body {
    background: #fff;
    height: 100%;
    margin: 25px 0;
    padding-left: 300px;
}

table,
th,
td {
    border: 1px solid rgb(118, 200, 221);
}

tr:hover {
    background-color: rgb(45, 207, 53);
}

th {
    background-color: #043eaa;
    color: white;
}

button {
    border-radius: 12px;
    color: aqua;
    background-color: #2a84c0;
    cursor: pointer;
}

tbody a{
    margin: 2px;
    
}

tbody a:hover{
    color: aliceblue;
}



